body{
    
    background-image: url("img/aksonvady_Data_technology_futuristic_illustration\ 31\ 1\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    display: inline-block;
}
.box1{
    width: 293px;
    height: 513px;
    background-color:#DBC500;
    opacity: .5;
    
}
.box2{
    width: 293px;
    height: 513px;
    background-color: #DBC500;
    opacity: .4;
}
.box3{
    width: 293px;
    height: 513px;
    background-color: #DBC500;
    opacity: .7;
}
.box4{
    width: 293px;
    height: 513px;
    background-color: #DBC500;
    opacity: .35;
} 